<ion-header>
  <ion-toolbar>
    <ion-title>Carrito de compras</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <div id>
        <h1> <strong>Resumen</strong> </h1>

    </div>
    <h4><strong>Total a pagar:</strong> ${{cartTotalPrice}} MXN </h4>
    <h4> <strong>Cantidad de productos:</strong> {{cartCount}}</h4>
  </div>

  <ion-card *ngFor="let product of cart; index as i">
    <ion-row>
      <img src="{{product.photo}}">
      <div>
        <h1 id="name">{{product.name}}</h1>
        <div>
          <p id="description">{{product.description}}</p>
          Precio: ${{product.price}} MXN
        </div>
      </div>
    </ion-row>
  </ion-card>
</ion-content>
